<!DOCTYPE html>
<html>
<body>

<form action="achat" method="post">

  <label for="nom">Nom :</label><br>
  <input type="text" id="nom" name="nom" value="aa"><br><br>

  <label for="prenom">Prénom :</label><br>
  <input type="text" id="prenom" name="prenom" value="aa"><br><br>
  
  <label for="date_expiration">Date d'expiration:</label><br>
  <input type="text" id="date_expiration" name="date_expiration" value="aa"><br><br>
  
  <label for="code">Code:</label><br>
  <input type="text" id="code" name="code" value="aa"><br><br>

  <label for="cvc">CVC:</label><br>
  <input type="text" id="cvc" name="cvc" value="aa"><br><br>

  <!-- <label for="save">Save:</label><br>
  <input type="checkbox" name="save" id="save"><br><br> -->

  <input type="submit" value="Submit">
  
</form> 

</body>
</html>