<html>
<head>
    <title>Game {{id}}</title>
</head>
<body>
    <table>
            {% for card in card_list %}
                <tr>
                    <td>{{card_list.index(card)}}</td>
                    <td>{{card.name}}</td>
                    <td>{{card.text}}</td>
                </tr>
            {% endfor %}
    </table>
    <br>
    <form method="POST" action="/games/{{id}}">
        <input type="text" id="choice" name="choice" placeholder="please choose a card to play" required size="26">
    </form>
</body>
</html>