<html>
<head>
    <title>Hearthstone - Game n°{{ id }}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
           document.getElementById("myForm").addEventListener("submit", function (e) {
              e.preventDefault() // Cancel the default action
              var catName = document.getElementById('catName').value;
              fetch('/disable/' + catName, {
                    method: 'POST',
                 })
                 .then(resp => resp.text()) // or, resp.json(), etc.
                 .then(data => {
                    document.getElementById("response").innerHTML = data;
                 })
                 .catch(error => {
                    console.error(error);
                 });
           });
        });
     </script>
</head>
<body>
    <h1>Game n°{{ id }}</h1>
    <form id="myForm">
        <label for="catName">Enter a category name to disable:</label><br>
        <input type="text" id="catName" name="catName">
        <input class="submit" type="submit" value="Submit">
     </form>
     <div id="response"></div>
    <div>
        <h2></h2>
        <p>{{ hero1 }}</p>
        <div>
            <h2>Hand</h2>
        </div>
        <p>{{ player1 }}</p>
    </div>
</body>
</html>